.button-update
	color: #6400e3
	border: 1px solid $main-purple-color
	border-radius: 10px
	display: inline-block
	padding: $small

	&:hover
		cursor: pointer
		
	.button-update__text
		font-size: $font-size-x-small