$font-size-x-small:	9px
$font-size-xs-small: 10px;
$font-size-small:	12px
$font-size-x-regular: 14px;
$font-size-regular:	16px
$font-size-large:	24px
$font-size-x-large:	32px

$header-height: 50px

// Margin - Padding

$xx-small: 2px
$x-small: 4px
$small: 8px
$medium: 15px
$large: 30px
$x-large: 60px
$xx-large: 80px
$xxx-large: 100px

// Color

$light-purple: #6400e3
$header-logo: #ec6963
$main-light-color: #7a8cdd
$main-dark-color: #000e74
$color-dropdown: #7579af
$color-hover-dropdown: #eeeff5
$main-purple-color: #6400e3
$main-lightgrey-color: #c1c5da
$main-green-color: #61d6bc