// @import url('https://fonts.googleapis.com/css?family=Lato')
// @import url('https://fonts.googleapis.com/css?family=Questrial')
@import './variables.sass'

*, html, body
	margin: 0
	box-sizing: border-box
	font-family: 'Lato', sans-serif


@import '../components/Header/_Header.sass'
@import '../components/Header/HeaderProfile/_HeaderProfile.sass'
@import '../components/Header/HeaderEventAttendees/_HeaderEventAttendees.sass'
@import '../components/ButtonUpdate/_ButtonUpdate.sass'
