// @import url('https://fonts.googleapis.com/css?family=Lato')
// @import url('https://fonts.googleapis.com/css?family=Questrial')
@import './variables.sass'

*, html, body
	margin: 0
	box-sizing: border-box
	font-family: 'Lato', sans-serif

@import '../scenes/Dashboard/_Dashboard.sass'

@import '../components/Header/_Header.sass'

@import '../components/Sidebar/ProgressionBar/_ProgressionBar.sass'
@import '../components/Sidebar/ProgressionSteps/_ProgressionSteps.sass'
@import '../components/Sidebar/_Sidebar.sass'

@import '../components/Header/HeaderProfile/_HeaderProfile.sass'
@import '../components/Header/HeaderEventAttendees/_HeaderEventAttendees.sass'
@import '../components/ButtonUpdate/_ButtonUpdate.sass'
@import '../components/ResearchEvent/_ResearchEvent.sass'
@import '../components/DropdownMenu/_DropdownMenu.sass'
@import '../components/ItemEvent/_ItemEvent.sass'
@import '../components/ItemEvent/PreviewInfoEvent/_PreviewInfoEvent.sass'
@import '../components/ItemEvent/ExtraOptions/_ExtraOption.sass'